/* @font-face {
  font-family: "Switzer";
  src: url("./assets/fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "Switzer" sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* h6 {
  font-family: "Switzer" !important;
}
p {
  font-family: "Switzer";
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
